body{
  text-align: center;

}
h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.headermasterclass{
  background-color: chartreuse;
  border: 2px solid darkmagenta;
  text-align: center;
  height: 20em;
}
#submit-btn{
  background-color: cadetblue;
  width: 10%;
  height: 5%;
  text-align: center;
  padding: 1%;
}